

 *{
    margin:0;
    padding:0;
    font-family: 'Roboto' , sans-serif;
 }
 body{
   width:100%;
   height:100vh;
   background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(img/NCERT-Solutions-For-Class-8-History.jpg);
   background-attachment: fixed;
   background-position: center;
   background-size: 100%;
   padding-left: 8%;
   padding-right: 8%;
   box-sizing: border-box;
   background-repeat: no-repeat;
}
  
 .navbar{
    height:12%;
    display:flex;
    align-items: center;
 }

 .logo{
   width:75px;
   height:75px;
   cursor:poiner;
}
 .menu-icon{
    width:30px;
    cursor:pointer;
    margin-left: 40px;

 }

 nav{
    flex:1;
    text-align:right;
 }

 nav ul li{
    list-style: none;
    display:inline-block;
    margin-left:60px;
 }

 nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:13px;
 }

 /* width / */
::-webkit-scrollbar {
   width: 10px;
 }
 
 /* / Track / */
 ::-webkit-scrollbar-track {
   box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.946);
   border-radius: 10px;
 }
 
 /* / Handle / */
 ::-webkit-scrollbar-thumb {
   background: #000000;
   border-radius: 10px;
 }
 
 /* / Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: #000000;
  }

 .row{
    display:flex;
    align-items:center;
    position:relative;
    top:300px;
    padding: 20px;
    margin: 20px;
 }


 .col{
    flex-basis:50%;
    display:inline-block;
    
 }



 h1{
    color:#fff;
    font-size:50px;
 }

 h4{
    color:#fff;
 }

 button{
   width:170px;
   color:#000;
   font-size:12px;
   padding:12px 0;
   background:#fff;
   border:0;
   border-radius:20px;
   outline:none;
   margin-top:30px;
   transition: all .2s ease-in-out; 
   cursor:pointer;
}


   
   .button:hover { 
   transform: scale(1.1); 
   }

   .grow { 
      width: 300px;
      height: 150px;
      font-size: 90px;
      line-height: 150px;
      transition: .3s;
      }
      
      .grow:hover { 
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1); 
      }


  footer{
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   background-color:rgba(0, 0, 0, 0.585);
   height : auto;
   padding-top: 40px;
   margin-top: auto;
   width: 100vw;
   color: white;
   border-top-right-radius: 30px;
   border-top-left-radius: 30px;
  }    

  .footer-content{
   display:flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   text-align: center;
  }

  footer h3{
   font-size: 2,1rem;
   font-weight: 500;
   text-transform: capitalize;
   line-height: 3rem;
   
  }

.socials{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 1rem 0 3rem 0;
}

.socials li{
   margin: 0 10px;
}

.socials li a{
   text-decoration: none;
   color: #fff;
   padding: 8px;
   border-radius: 50%;
   width: 35px;
}

.footer-menu{
   margin-bottom: 20px;
}

.footer-menu ul{
   display: flex;
}

.footer-menu ul li{
   padding-right: 10px;
   display: block;
   
}

.footer-menu ul li a{
   color: #cfd2d6;
   padding: 6px 15px;
   text-decoration: none;
}


